<div class = "hashtag" id = "hashtag_all">
  <span>
    <%= link_to "All notes", "#", :id => "all_notes_link" %>
  </span>

  <span class = "hashtag_count">
    (<%= current_user.notes.count %>)
  </span>
</div>

  <% if hashtags.first %>
  <%= div_for(hashtags) do |hashtag| %>
    <span class = "hashtag_name">
      <%= link_to "##{hashtag.name}", "#", :class => "hashtag_link" %>
    </span>

    <span class = "hashtag_count">
      (<%= hashtag.notes.count %>)
    </span>
  <% end %>

<% end %>