<!DOCTYPE html>
<html>
<head>
  <!-- Load Typekit fonts -->
  <script type="text/javascript" src="//use.typekit.net/zbp7nov.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="farbtastic.js"></script>
  <link rel="stylesheet" href="farbtastic.css" type="text/css" />
  <title>P3 Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "navbar">
    <div class = "navbar navbar-fixed-top" >
      <div class = "navbar-inner">
        <div class = "container">
          <a class = "brand" href=<%= root_url %>> P3 Network Stickies</a>
          <ul class = "nav">
            <li> <%= link_to "Home", root_url %></li>
            <% if current_user %>
              <li><%= link_to "#{current_user.email}", "#" %></li>
              <li><%= link_to "Log out", log_out_path %></li>
            <% else %>
              <li><%= link_to "Log in", log_in_path %></li>
              <li><%= link_to "Sign up", new_user_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class = "container">
    <div class = "row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
